<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../protein-overview/protein-overview.html">
<link rel="import" href="../generic-annotation-section/generic-annotation-section.html">
<link rel="import" href="../keywords-section/keywords-section.html">
<link rel="import" href="../xrefs-section/xrefs-section.html">
<link rel="stylesheet" type="text/css" href="../bootstrap/dist/css/bootstrap.min.css" async>
<!--
`interactions-view`
View listing protein interaction annotations.
@demo demo/index.html 
-->
<dom-module id="interactions-view">
  <template>
    <style>
      :host {
        display: block;
        background:#ECF0F1;
        overflow-y: auto;
      }
      .row {
        margin: 0px 20px 15px;
      }
      #nx-overview {
        background:#fff;
        margin-top:10px;
        margin-bottom:10px;
        border: 1px solid #cfd9db;
        border-radius:4px;
      }
      #nx-annotations {
        background:#fff;
        padding:5px 15px;
        border: 1px solid #cfd9db;
        border-radius:4px;
      }
      #nx-keywords {
        background:#fff;
        padding:5px 15px;
        border: 1px solid #cfd9db;
        border-radius:4px;
      }
      #nx-xrefs {
        background:#fff;
        padding:5px 15px;
        border: 1px solid #cfd9db;
        border-radius:4px;
        margin-bottom:20px;
      }
    </style>
    <div class="row">
      <div id="nx-overview" class="col-md-12">
        <protein-overview></protein-overview>
      </div>
    </div>
    <div class="row">
      <div id="nx-annotations" class="col-md-12">
        <generic-annotation-section section="function"
                                    categories='["INTERACTION-INFO", "BINARY-INTERACTION"]'>
        </generic-annotation-section>
        <!--filterAnnot:{annot-> (annot.getAnnotationCategory() == AnnotationCategory.MISCELLANEOUS &&
        !annot.getMiscellaneousSubCategory().equals('interaction'))? false:true;-->
      </div>
    </div>
    <div class="row">
      <div id="nx-keywords" class="col-md-12">
        <keywords-section categories='[Ligand"]'>
        </keywords-section>
      </div>
    </div>
    <div class="row">
      <div id="nx-xrefs" class="col-md-12">
        <xrefs-section categories='["BindingDB","DIP","IntAct","MINT","STRING","SignaLink", "BioGrid"]'>
        </xrefs-section>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'interactions-view',
      properties: {}
    });
  </script>
</dom-module>
